<amp-user-notification id="my-notification" class="cookie-notification" layout="nodisplay">
    My website uses cookies to provide you with a better experience. Read my <a href="/privacy">privacy policy</a>
    for more information.
    <button class="btn" on="tap:my-notification.dismiss">I accept</button>
</amp-user-notification>