<!DOCTYPE html>
<html lang="en">

<head>
	<%- await include("public/partials/head.ejs") %>
    <style>
        body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
            overflow-x: hidden;
		}

        .container {
            min-height: 73vh;
            margin: 0 2em;
            max-width: 600px;
            margin: auto;
            
        }
    </style>
</head>

<body>
	<%- await include("public/partials/nav.ejs") %>
	<main>
        
        <div class="container">
            <h1>Admin Page</h1>
        </div>
	</main>
	<%- await include("public/partials/footer.ejs") %>
</body>

</html>