<!DOCTYPE html>
<html lang="en">

<head>
	<%- await include("public/partials/head.ejs") %>
	<%- await include("public/styles/index.ejs") %>
</head>

<body>
	<%- await include("public/partials/nav.ejs") %>
	<main>
		<div class="cover">
			<img class="thumbnail" src="/static/images/headshot.png" alt="" />
			<h1>Patent Agent | Law Student</h1>
			<p class="lead">This Website is now running on <a href="https://deno.land/" target="_blank">Deno</a>. Check out the code for the
			site at my Github repository <a href="https://github.com/tedrand/tr-deno" target="_blank">here</a>.</p>
			<a class="btn" href="/static/Theodore_Rand_Resume.pdf" target="_blank" download>Download Resume</a> 
		</div>
	</main>
	<%- await include("public/partials/footer.ejs") %>
</body>

</html>