<footer>
    <small>©2020 Theodore A. Rand</small><br>
    <small>
        <a class="footer-link" href="/">Privacy Policy</a> |
        <a class="footer-link" href="/">Terms of Use</a>
    </small>
</footer>