<footer>
    <small>©2020 Theodore A. Rand</small><br>
    <small>
        <a class="footer-link" href="/privacy">Privacy Policy</a> |
        <a class="footer-link" href="/terms">Terms of Use</a>
    </small>
</footer>