<nav id="top-nav" class="nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about">About Me</a>
    <!-- <a class="nav-link" href="/about">Blog</a> -->
    <div class="dropdown">
        <a class="dropbtn nav-link">Tracker</a>
        <div class="dropdown-content">
            <a href="/tracker/scotus">Supreme Court</a>
            <a href="/tracker/cafc">Federal Circuit</a>
            <a href="/tracker/cadc">D.C. Circuit</a>
        </div>
    </div>
    <a class="nav-link" style="float: right;" href="https://www.linkedin.com/in/tedrand/" target="_blank">
        <amp-img width="20" height="20"
            src="/static/img/linkedin.png" 
            alt="View my LinkedIn Profile">
        </amp-img>
    </a>
</nav>