<nav id="top-nav" class="nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about">About Me</a>
    <!-- <a class="nav-link" href="/about">Blog</a> -->
    <a class="nav-link" href="/tracker">CAFC Court Tracker</a>
    <a class="nav-link" style="float: right;" href="https://www.linkedin.com/in/tedrand/" target="_blank">
        <amp-img width="20" height="20"
            src="/static/img/linkedin.png" 
            alt="View my LinkedIn Profile">
        </amp-img>
    </a>
</nav>